# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/

# Celery
celerybeat-schedule
celerybeat-schedule.dat
**/celerybeat-schedule*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/